.container{
    max-width: 1200px;
    margin: auto;
    padding: auto;
}

/*nav*/
.nav{
display: flex;
justify-content: space-between;
flex-direction: row;
/*background: grey;*/
box-shadow: 5px 10px 10px 5px grey;
top: 10px;
border-radius: 10px;
padding: 20px;
margin-bottom: 40px;
}

.banner{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 29px;
}
.banner-img{
    width: 50%;
}

.banner-title{
    display: flex;
    font-size: 80px;
    text-align: center;
    color: #2ea194;
}
.productName {
  font-size: 16px;

  display: inline-block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;

}
.authorName {
  font-size: 14px;
  font-weight: normal;
  color: gray;
}
.popup-container{
   border: 1px solid black;
    margin: 50px;
    padding: 50px;
    background: blue; 
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .modal.open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }
  .modal-bg {
    position: absolute;
    background: #0080805e;
    width: 100%;
    height: 100%;
  }
  .modal-container {
    border-radius: 10px;
    background: #fff;
    position: relative;
    padding: 30px;
    width: 60vh;
  }
  .modal-close {
    position: absolute;
    right: 15px;
    top: 15px;
    outline: none;
    appearance: none;
    color: red;
    background: none;
    border: 0px;
    font-weight: bold;
    cursor: pointer;
  }
.bookImg{
    width: 200px;
    height: auto;
}
.cart-img{
width: auto;
height: 30px;
}

.book-card {
  display: flex;
  flex-direction: column;
  /*border: 1px solid black;*/
    margin: 10px;
    padding: 30px;
    flex: 1 1 100px;
align-items: center;
text-align: center;
justify-content: space-around;
box-shadow: 4px 5px 10px #0000003d;
border-radius: 10px;
}


.books-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.addToCart {
  border: none;
  background: #00a6a7;
  padding: 10px;
  margin: 5px;
  color: white;
}
.show-more{
    color: #00a6a7;
text-decoration: underline;
}
